* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #339af0 0%, #1c7ed6 48%, #1864ab 100%);
}

.player {
  max-width: 750px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-size: 0;
  position: relative;
  overflow: hidden;
}

.player__controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #333;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player:hover .progress {
  height: 15px;
}

.player__controls > * {
  flex: 1;
}

.progress {
  display: flex;
  flex-basis: 100%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: ew-resize;
  transition: height 0.3s;
}
.progress__filled {
  flex: 0;
  flex-basis: 0%;
  background-color: #ffc600;
}
.player__button {
  max-width: 50px;
  padding: 0;
  border: 0;
  outline: 0;
  text-align: center;
  color: white;
  background: none;
  cursor: pointer;
}
.icon {
  color: white;
  font-weight: 600;
}

.player__slider {
  height: 30px;
}

input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: 0 5px;
}

/* ::-webkit-slider-runnable-track：定义了滑动条轨道的样式，在 WebKit 内核浏览器（如 Chrome 和 Safari）中生效。 */

input[type='range']::-webkit-slider-runnable-track {
  height: 8.4px;
  box-shadow:
    1px 1px 1px rgba(0, 0, 0, 0),
    0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
  cursor: pointer;
}
/* ::-moz-range-track 和 ::-moz-range-thumb 分别定义滑动条轨道和滑块在 Firefox 中的样式。 */
input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow:
    1px 1px 1px rgba(0, 0, 0, 0),
    0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type='range']::-moz-range-thumb {
  box-shadow:
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #bada55;
}

input[type='range']:focus {
  outline: none;
}
