* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  background: #0c9ee2;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 20px;
}

ul {
  list-style: none;
}

.hl {
  background-color: #0c9ee2;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

.search {
  position: relative;
  left: -10%;
  width: 120%;
  padding: 20px;
  border: 10px solid #f7f7f7;
  font-size: 40px;
  text-align: center;
  border-radius: 5px;
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.12),
    inset 0 0 2px rgba(0, 0, 0, 0.19);
  top: 4px;
  z-index: 2;
}

.suggestions li {
  background: white;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  padding: 20px;
  /* 单词开头大写 */
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
